/* Global Style */
body {
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}
h1, h2 {
    font-family: 'Playfair Display', serif;
}
h4 {
    font-weight: bolder;
}
.btn-cta {
    background-color: #FF9E53;
    color: white;
    padding: 4px 18px;
}
.btn-secondary {
    background-color: ##F2F2F2;
    color: white;
    padding: 4px 18px;
}
.btn-cta:hover {
    background-color: #f88d3b;
    color: white;
}
.btn-cta:focus {
    box-shadow: none
}

/* Navbar Style */
.navbar {
    padding: 0;
}
.navbar .container {
    background-color: white;
    padding-right: 0;
}
.navbar .btn-primary {
    margin-left: 24px;
    border-radius: 0;
    height: 58px;
    width: 100px;
    background-color: #071C4D;
    border: none;
}
.navbar .btn-primary:hover {
    background-color: #05143a;
}
.navbar .btn-primary:focus {
    background-color: #05143a;
    box-shadow: none;
}
.navbar .nav-item {
    margin-top: auto;
    margin-bottom: auto;
}

/* Jumbotron Style */
.jumbotron {
    background-image: url("../images/jumbotron@2x.png");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 160px;
    margin-top: -58px;
}
.jumbotron h1, .jumbotron p {
    color: white;
    margin-bottom: 24px;
}
.jumbotron button {
    margin-top: 16px;
}

/* Highlight Style */
.highlight {
    position: relative;
    bottom: 32px;
}
.highlight .row {
    margin-top: -16px;
    background-color: white;
}
.highlight h4 {
    text-align: center;
    font-weight: bold;
}
.highlight p {
    text-align: center;
    margin: 0;
}
.highlight .row {
    margin-left: auto;
    margin-right: auto;
    width: 75%;       
}

/* Popular Destination */
.popular-destination {
    background-color: #071C4D;
    height: 480px;
    margin-top: -80px;
    z-index: -1;
}
.popular-desc {
    padding-top: 128px;
    color: white;
    text-align: center;
}
.popular-desc h2 {
    margin-bottom: 16px;
}

/* Popular Card */
.card-popular {
    margin-top: -160px;
}
.card {
    border-radius: 0;
    border-style: none;
}
.card-popular .card {
    text-align: center;
    height: 380px;
    color: white;
}
.card-popular .card-data button {
    margin-top: 240px;
}
.card-popular p {
    margin-bottom: 0;
}
.card-1 {
    background-image: url(../images/bali@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.card-2 {
    background-image: url(../images/bromo@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.card-3 {
    background-image: url(../images/nusa-penida@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.card-4 {
    background-image: url(../images/dubai@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Networks Style */
.networks {
    margin-top: 80px;
}

/* Testimonial Style */
.testimonial {
    margin-top: 80px;
    text-align: center;
    background-image: url(../images/bg@2x.png);
    background-repeat: no-repeat;
}
.testimonial .card {
    border: 1px solid #E3E3E3;
    border-radius: 8px;
}

/* Bottom CTA Style */
.bottom-cta {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

/* Footer */
.footer {
    padding: 48px 0;
    border: 1px solid #E3E3E3;
}
.footer .footer-links {
    list-style: none;
    padding: 0;
    margin-top: 16px;
}
.footer .footer-links li {
    margin-bottom: 4px;
}
.footer .footer-links a {
    color: #05143a;
    text-decoration: none;
}

/* Copyright Style */
.copyright {
    text-align: center;
    font-size: smaller;
}


/* Mobile Style */
@media screen and (max-width: 992px) {
    /* Header */
    .navbar .btn-primary {
        width: 100%;
        margin: 8px 0;
        height: 40px;
    }
    .navbar .container {
        background-color: white;
        padding: 16px;
    }

    /* Jumbotron */
    .jumbotron {
        margin: 0;
    }

    /* Highlight */
    .highlight {
        padding: 0;
    }
    .highlight .row {
        width: 100%;
    }

    /* Cards */
    .card-popular .card {
        margin-bottom: 24px;
    }

    /* Partners */
    .networks {
        text-align: center;
    }
    .networks .text {
        margin-bottom: 24px;
    }

    /* Testimonial */
}